#contact_modal {
    display: none;
}

.wrapper{
    gap: 0;
}

.header {
    height: 130px;
}

.photograph-header {
    border: 1px solid brown;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 50px;
    

    & .cityCountry {
        border: 1px solid purple;
        color: #901C1C;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    
    & .ptgInfo {
        border: 1px solid green;
        padding-left: 20px;
        
    }

    & h1 {
        font-weight: 400;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    & .menu {
        width: 100%;
        height: 62px;
        display: flex;
        align-items: center;
        gap: 15px;
        
    }
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.message {
    min-height: 200px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.ptgInfo {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #D3573C;
    font-size: 64px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border: 1px solid blue;
    justify-items: center;
    gap: 20px;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border: 1px solid red;
    overflow: hidden;
    & img, video {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    & .infoCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24px;
        color:#901C1C;
        border: 1px solid purple;
        & .numberLikesContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: yellow;
        }
    }

}


.totalLikesPriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    border: 1px solid turquoise;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    width: 375px;
    height: 60px;
    padding: 0 20px 0 20px;
    & .likesHeart{
        display: flex;
        flex-direction: row;
        gap: 5px;
        border: 1px solid green;
    }

    & .totalLikesAndPriceCss {
        border: 1px solid purple;
    }

    & .fa-heart {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid yellow;
        color: red;
    }
}

