* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1440px;
    padding: 0 100px;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 12px 0 #0004;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.5);
    }
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
}

.card-index {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .card-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    & .card-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    & h2 {
        
        color: #D3573C;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 0;
    }
    
    & h3 {
        color:  #901C1C;
        font-size: 18px;
        font-weight: 200;
    }
    
    & h4 {
        font-weight: normal;
        font-size: 15px;
    }
    
    & h5 {
        font-weight: normal;
        color: #757575;
    }
    
    & h3, h4, h5 {
        margin: 0;
    }
    
   
}

a {
    text-decoration: none;
}


.shadow {
    box-shadow: 0 4px 12px 0 #0004;
}

.fixedBottom {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: end;
}

.items-end {
    align-items: end;
}